@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f3f3f3;
  color: #0e1422;
  font-family: "Inter", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border-width: 8px;
  border-style: solid;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

#burger-menu {
  /* display: inline-block; */
  width: 25px;
  height: 20px;
  padding: 0;
  /* background-color: redx`; */
  border: none;
}

#burger-menu span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: relative;
  transition: all 0.6s ease;
}

#burger-menu span:after,
#burger-menu span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  top: -8px;
  transition: all 0.6s ease;
  left: 0;
}

#burger-menu span:after {
  top: 8px;
}
#burger-menu.active span {
  background: transparent;
}

#burger-menu.active span:before {
  transform: rotate(45deg);
  top: 0;
}

#burger-menu.active span:after {
  transform: rotate(-45deg);
  top: 0;
}

@media screen and (max-width: 1000px) {
  main {
    padding-top:75px;
  }
}