@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #F6F6F6;
  color: #0e1422;
  font-family: "Inter", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


@layer components {
 
  .loader {
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border-width: 8px;
    border-style: solid;
    animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
  }
  @keyframes l20-1 {
    0% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }
    12.5% {
      clip-path: polygon(
        50% 50%,
        0 0,
        50% 0%,
        100% 0%,
        100% 0%,
        100% 0%,
        100% 0%
      );
    }
    25% {
      clip-path: polygon(
        50% 50%,
        0 0,
        50% 0%,
        100% 0%,
        100% 100%,
        100% 100%,
        100% 100%
      );
    }
    50% {
      clip-path: polygon(
        50% 50%,
        0 0,
        50% 0%,
        100% 0%,
        100% 100%,
        50% 100%,
        0% 100%
      );
    }
    62.5% {
      clip-path: polygon(
        50% 50%,
        100% 0,
        100% 0%,
        100% 0%,
        100% 100%,
        50% 100%,
        0% 100%
      );
    }
    75% {
      clip-path: polygon(
        50% 50%,
        100% 100%,
        100% 100%,
        100% 100%,
        100% 100%,
        50% 100%,
        0% 100%
      );
    }
    100% {
      clip-path: polygon(
        50% 50%,
        50% 100%,
        50% 100%,
        50% 100%,
        50% 100%,
        50% 100%,
        0% 100%
      );
    }
  }
  @keyframes l20-2 {
    0% {
      transform: scaleY(1) rotate(0deg);
    }
    49.99% {
      transform: scaleY(1) rotate(135deg);
    }
    50% {
      transform: scaleY(-1) rotate(0deg);
    }
    100% {
      transform: scaleY(-1) rotate(-135deg);
    }
  }

  #burger-menu {
    /* display: inline-block; */
    width: 25px;
    height: 20px;
    padding: 0;
    /* background-color: redx`; */
    border: none;
  }

  #burger-menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    position: relative;
    transition: all 0.6s ease;
  }

  #burger-menu span:after,
  #burger-menu span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    top: -8px;
    transition: all 0.6s ease;
    left: 0;
  }

  #burger-menu span:after {
    top: 8px;
  }
  #burger-menu.active span {
    background: transparent;
  }

  #burger-menu.active span:before {
    transform: rotate(45deg);
    top: 0;
  }

  #burger-menu.active span:after {
    transform: rotate(-45deg);
    top: 0;
  }

  .refunded {
    @apply rounded-full font-medium w-max px-4 py-1 bg-yellow-100 text-yellow-600;
  }

  .processing {
    @apply rounded-full font-medium w-max px-4 py-1 bg-blue-100 text-blue-600;
  }

  .pending {
    @apply rounded-full font-medium w-max px-4 py-1 bg-amber-100 text-amber-600;
  }

  .cancelled {
    @apply rounded-full font-medium w-max px-4 py-1 bg-gray-100 text-gray-400;
  }
  .failed {
    @apply rounded-full font-medium w-max px-4 py-1 bg-red-100 text-red-600;
  }

 .shipped {
    @apply rounded-full font-medium w-max px-4 py-1 bg-violet-100 text-violet-600;
  }

  .completed {
    @apply rounded-full font-medium w-max px-4 py-1 bg-emerald-100 text-emerald-600;
  }

  @media screen and (max-width: 1000px) {
    main {
      padding-top: 75px;
    }
  }
}
